/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

/* reset */

a{text-decoration: none; color: #fff;}
h1,h2,h3,h4,h5,h6{margin: 0;font-weight: normal;}
button{cursor: pointer; outline: none;}
input,textarea,select{outline: none;}
button,input,textarea,select{font-family: 'Noto Sans KR', sans-serif;}

/* consulting-header area */
section{width: 1200px;}
.consulting-header{text-align: center; }
.consulting-header h1{font-size: 26px;margin-top: 20px;}
.consulting-header h1 span{color: crimson;}
.consulting-header hr { border: none; width: 100px; height: 3px; background-color: orange;margin: 30px auto;}
.consulting-header p{}

/* consulting-form */
/* row */
.consulting-form form{border-top: 4px solid #ccc;padding: 30px 0;}
.consulting-form form label em{color: crimson;font-style: normal;}
.row{display: flex; margin: 15px 0;}
.row .field{display: flex;flex-direction: column;flex: 1;margin-right: 20px;}
.row .field label{margin-bottom: 10px; font-weight: 400;}
.row .field input,
.row .field select,
.row .field textarea{border: 1px solid #ccc; border-radius: 5px; padding: 7px;}
.row .field input,
.row .field textarea{transition: .2s;}
.row .field input:hover,
.row .field input:focus,
.row .field textarea:hover,
.row .field textarea:focus{border: 1px solid orange; box-shadow: 0 0 5px orange;}

/* policy */
.policy h4{margin-bottom: 15px;}
.policy iframe{border: 1px solid #ccc;width: 100%; height: 120px;padding: 7px;margin-bottom: 5px;}
.btn-submit{border: 1px solid #555; background-color: #fff; padding: 7px 50px;margin:20px auto 0; display: block;}
.btn-submit:hover{background-color: #222; color: #fff;}
@media screen and (max-width:768px){
    section{width: 100%;padding: 20px;}
    .consulting-header h1{font-size: 18px; }
    .row{flex-direction: column; margin: 0;}
    .row .field{margin: 5px 0;}
    .btn-submit{width: 100%;}
    .policy iframe{width: 100%;}
}