@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    margin: 0;
}
a{
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    text-decoration: none;
}
.parent{
    display: flex;
}
.child{
    background-color: purple;
    color: #fff;
    padding: .5em;
    text-align: center;
    font-size: 1em;
    margin: 3px;
    flex: 1;
}