/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    font-family: 'Montserrat', sans-serif;
    color: #222;
    margin: 0;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 12px;
}
a{
    font-family: 'Montserrat', sans-serif;
    color: #222;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
button{
    cursor: pointer;
    outline: none;
}

.login-form{
    width: 600px;
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(182, 182, 182);
}
.login-form h2{
    font-weight: normal;
    text-transform: capitalize;
    font-size: 28px;
}
.sns-login{
    margin: 20px 0;
    display: flex;
}
.btn{
    flex: 1;
    margin-right: 3px;
    padding: 10px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
}
.btn:last-child{margin-right: 0;}
.btn i{margin-right: 5px;}
.btn.facebook{background-color: #1877F2;}
.btn.twitter{background-color: #1DA1F2;}
.btn.google{background-color: #dd4b39;}
.field{display: flex;margin-bottom: 20px;}
.field label{flex: 1;text-transform: capitalize;}
.field input{flex: 3; border: 1px solid #ccc;border-radius: 3px;padding: 5px;}
.btn-login{
    padding: 5px 40px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    color: #fff;
    background-color: dodgerblue;
    float: right;
}
@media (max-width:768px){
    .login-form{
        width: 100%;
    }
    .sns-login{
        flex-direction: column;
    }
    .btn{
        margin: 5px 0
    }
    .field{
        flex-direction: column;
    }
    .field label{
        margin-bottom: 3px;
    }
    .btn-login{
        width: 100%;
        margin-top: 5px;
    }
}