@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    margin: 0;
}
a{
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    text-decoration: none;
}
.container{display: flex;flex-direction: row;height: 100vh;}
.parent{
    display: flex;
    flex-direction: column;
}
.child{
    background-color: yellowgreen;
    color: #fff;
    text-align: center;
    padding: 1em;
    margin: 3px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}