@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a{
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    text-decoration: none;
}
section{
    width: 1200px;
    display: flex;
}
section article{
    border:  solid 1px black;
    flex: 1;
}
.content1{
    background-color: yellow;
    padding: 30px;
}
.content2{
    display: flex;
    flex-direction: column;
}
.content2 div{
    flex: 1;
    padding: 30px;
}
.sub-1{
    background-color: dodgerblue;
    color: #fff;
}
.sub-2{
    background-color: pink;
}